In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('dataset/telemetry_for_operations_training.csv')
valid = pd.read_csv('dataset/telemetry_for_operations_validation.csv')
label = pd.read_csv('dataset/operations_labels_training.csv')

In [3]:
train.loc[116483]

create_dt            2023-09-21
mdm_object_name            1442
mdm_model_id                 62
lon                   -0.021102
lat                    0.002119
alt                          75
speed_gps                  10.4
direction                 307.0
accel_forward_nn            0.0
accel_braking_nn            0.0
accel_angular_nn            0.0
accel_vertical_nn          0.98
Name: 116483, dtype: object

In [4]:
valid

,create_dt,mdm_object_name,mdm_model_id,lon,lat,alt,speed_gps,direction,accel_forward_nn,accel_braking_nn,accel_angular_nn,accel_vertical_nn
0,2023-09-29 08:03:27,1501,62,0.015931,-0.002470,-77,8.8,180.0,0.000,0.294,0.000,0.98
1,2023-09-29 08:03:28,1501,62,0.015946,-0.002493,-77,9.7,156.0,0.196,0.000,0.000,0.98
2,2023-09-29 08:03:33,1501,62,0.016007,-0.002581,-79,11.6,159.0,0.686,0.000,0.000,0.00
3,2023-09-29 08:03:34,1501,62,0.016053,-0.002634,-79,9.9,156.0,0.000,1.176,1.078,0.00
4,2023-09-29 08:03:35,1501,62,0.016084,-0.002657,-80,12.5,138.0,0.686,0.000,1.568,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...
260106,2023-09-30 16:32:25,119,61,-0.041015,0.004648,229,0.0,318.0,0.000,0.000,0.000,0.00
260107,2023-09-30 16:32:30,119,61,-0.041015,0.004648,229,0.0,318.0,0.000,0.000,0.000,0.00
260108,2023-09-30 16:32:35,119,61,-0.041015,0.004648,229,0.0,318.0,0.000,0.000,0.000,0.00
260109,2023-09-30 16:32:40,119,61,-0.041015,0.004648,229,0.0,318.0,0.000,0.000,0.000,0.00
260110,2023-09-30 16:32:45,119,61,-0.041015,0.004648,229,0.0,318.0,0.000,0.000,0.000,0.00

In [5]:
train.dtypes

create_dt             object
mdm_object_name        int64
mdm_model_id           int64
lon                  float64
lat                  float64
alt                    int64
speed_gps            float64
direction            float64
accel_forward_nn     float64
accel_braking_nn     float64
accel_angular_nn     float64
accel_vertical_nn    float64
dtype: object

In [8]:
label.dtypes

start_time           object
end_time             object
operation_kind_id     int64
mdm_object_name       int64
name                 object
dtype: object

In [13]:
import pandas as pd

# Example DataFrame
df = train

# Check if the format is 'YYYY-MM-DD HH:MM:SS'
def check_format(date_str):
    # Try to convert to datetime with a specific format
    try:
        pd.to_datetime(date_str, format='%Y-%m-%d %H:%M:%S')
        return 'datetime'
    except ValueError:
        try:
            pd.to_datetime(date_str, format='%Y-%m-%d')
            return 'date'
        except ValueError:
            return 'invalid'

# Apply the function to the 'create_dt' column
df['format'] = df['create_dt'].apply(check_format)

# Display the rows with 'date' or 'invalid' format
df_invalid_format = df[df['format'] != 'datetime']

print(df_invalid_format)

KeyboardInterrupt:

In [12]:
import pandas as pd

# Example DataFrame
df = train

# Check if the format is 'YYYY-MM-DD HH:MM:SS'
def check_format(date_str):
    # Try to convert to datetime with a specific format
    try:
        pd.to_datetime(date_str, format='%Y-%m-%d %H:%M:%S')
        return 'datetime'
    except ValueError:
        try:
            pd.to_datetime(date_str, format='%Y-%m-%d')
            return 'date'
        except ValueError:
            return 'invalid'

# Apply the function to the 'create_dt' column
df['format'] = df['end_time'].apply(check_format)

# Display the rows with 'date' or 'invalid' format
df_invalid_format = df[df['format'] != 'datetime']

print(df_invalid_format)

Empty DataFrame
Columns: [start_time, end_time, operation_kind_id, mdm_object_name, name, format]
Index: []

In [14]:
def safe_to_datetime(date_str):
    try:
        return pd.to_datetime(date_str)
    except:
        return None

# Convert timestamp columns to datetime
train['create_dt'] = train['create_dt'].apply(safe_to_datetime)

In [19]:
train.dropna(subset=['create_dt'], inplace=True)

In [20]:
train

,create_dt,mdm_object_name,mdm_model_id,lon,lat,alt,speed_gps,direction,accel_forward_nn,accel_braking_nn,accel_angular_nn,accel_vertical_nn,format,label
0,2023-09-29 08:12:46,1498,62,-0.039352,0.005476,217,15.7,194.0,0.098,0.000,0.490,0.98,datetime,4
1,2023-09-29 08:12:47,1498,62,-0.039367,0.005442,216,14.4,196.0,0.000,0.294,0.000,1.96,datetime,4
2,2023-09-29 08:12:49,1498,62,-0.039382,0.005362,216,15.2,180.0,0.000,0.490,0.490,1.96,datetime,4
3,2023-09-29 08:12:51,1498,62,-0.039397,0.005297,216,12.9,198.0,0.000,0.196,0.588,0.00,datetime,4
4,2023-09-29 08:12:53,1498,62,-0.039413,0.005232,216,10.6,180.0,0.000,1.372,0.392,1.96,datetime,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516068,2023-10-26 08:16:26,119,61,-0.002693,0.011425,57,0.0,146.0,0.000,0.000,0.000,0.00,datetime,4
516069,2023-10-26 08:16:31,119,61,-0.002693,0.011425,57,0.0,146.0,0.000,0.000,0.000,0.00,datetime,4
516070,2023-10-26 08:16:36,119,61,-0.002693,0.011425,57,0.0,146.0,0.000,0.000,0.000,0.00,datetime,4
516071,2023-10-26 08:16:41,119,61,-0.002693,0.011425,57,0.0,146.0,0.000,0.000,0.000,0.00,datetime,4
516072,2023-10-26 08:16:46,119,61,-0.002693,0.011425,57,0.0,146.0,0.000,0.000,0.000,0.00,datetime,4

In [15]:
label['start_time'] = pd.to_datetime(label['start_time'])
label['end_time'] = pd.to_datetime(label['end_time'])

In [16]:
train['label'] = 4
#0 1 2 3 4 5

In [26]:
datetime_mask = train['create_dt'].notna() & train['create_dt'].dt.time != pd.Timestamp('00:00:00').time()

In [24]:
def safe_to_datetime(date_str):
    try :
        return pd.to_datetime(date_str)
    except:
        return pd.to_datetime(date_str, format='%Y-%m-%d')


# Convert timestamp columns to datetime
valid['create_dt'] = valid['create_dt'].apply(safe_to_datetime)

In [25]:
train = train.sort_values(['mdm_object_name', 'create_dt'])
label = label.sort_values(['mdm_object_name', 'start_time'])

In [28]:
def assign_labels(group):
    object_labels = label[label['mdm_object_name'] == group.name]
    
    for _, row in object_labels.iterrows():
        mask = (group['create_dt'] > row['start_time']) & (group['create_dt'] < row['end_time']) 
        group.loc[mask, 'label'] = row['operation_kind_id']
    
    return group

# Apply the function to each group of mdm_object_name
train = train.groupby('mdm_object_name').apply(assign_labels)

# Verify the results
print(train['label'].value_counts(dropna=False))

# Optional: Check the percentage of date-only entries
date_only_percentage = (train['label'] == 4).mean() * 100
print(f"Percentage of date-only entries: {date_only_percentage:.2f}%")

# Save the updated DataFrame
train.to_csv('train_with_labels.csv', index=False)

label
2    235251
5    162839
0     69216
1     30780
4     12968
3      5016
Name: count, dtype: int64
Percentage of date-only entries: 2.51%

In [29]:
train['label'].value_counts()

label
2    235251
5    162839
0     69216
1     30780
4     12968
3      5016
Name: count, dtype: int64